@import "tailwindcss";




.navbar {
  width: 100%;
}


* {
  box-sizing: border-box;
  font-family: "Ubuntu";
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./font/Ubuntu-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  
}


.method-buttons{
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: fixed;
  

}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

input:focus{
  @apply border border-indigo-500 outline-none
}


.button-get{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #15b21563;
  cursor: pointer;
  color: rgb(5, 190, 5);
  transition: border-color 0.25s;
}


.button-delete{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #b2151554;
  cursor: pointer;
  color: rgba(220, 53, 11, 0.853);
  transition: border-color 0.25s;
}


.button-post{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #dc7f0d63;
  cursor: pointer;
  color: rgba(190, 119, 5, 0.811);
  transition: border-color 0.25s;
}


.button-selected{
  @apply  rounded-none rounded-t-md
}

.button-put {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1565b263; /* Azul */
  cursor: pointer;
  color: rgba(5, 119, 190, 0.811);
  transition: border-color 0.25s;
}

.button-patch {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #8a2be263; /* Morado */
  cursor: pointer;
  color: rgb(151, 4, 241);
  transition: border-color 0.25s;
}





.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} 


button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --shadow-color : #900505 ;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #101010;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.center-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.method-buttons {
  z-index: 999;
  display: flex;
  justify-content: center;
  gap: 6px;
  width: fit-content;
  background: #1f1f1f;
  padding: 1rem;
  border-radius: 8px;
  box-shadow:  #101010 7px 29px 0px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.flex-row {
  display: flex;
  gap: 12px;
  white-space: nowrap;
}

.peticion {
  width: 100%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.btn-response{
  width: 10px;
  height: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0fdf3c4d;
  color: rgb(36, 181, 20);
}

.gridi{
  border: 1px rgb(41, 39, 39) solid;
  border-radius: 8px;
  min-height: 70vh;
  padding: 1rem;
  text-wrap: wrap;
}

.response-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 1rem;
}



